<div>
    <h1 class="h3 mb-1 text-gray-800">Main Page</h1>
    <li class="nav-item">
        <a class="nav-link" href="talk">
            <i class="fas fa-fw fa-paper-plane"></i>
            <span>Cocoa Talk</span></a>
    </li>
</div>
